<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="aboutus" href="aboutus.component.css">

  <title>About us</title> 
</head>
<body>
  <div class="container">
    <header>
      <h2>Welcome to Linkcode</h2>
      <h5>Technology private limited</h5>
    </header>

    <section class="features">

      <div class="feature">
        <h4>Courses</h4>
          <ul>C</ul>
          <ul>C++</ul>
          <ul>Java</ul>
          <ul>Python</ul>
      </div>

      <div class="feature">
        <h4>Services</h4>
          <ul>Web design</ul>
          <ul>Development</ul>
          <ul>Hosting</ul>
      </div>

      <div class="feature" >
        <h4>Company</h4>
          <ul>Content here</ul>
      </div>

      <div class="feature" >
        <h4>Team</h4>
          <ul>Content here</ul>
      </div>

      <div class="feature" >
        <h4>Careers</h4>
          <ul>Content here</ul>
      </div>
      
<!--
      <div class="feature" >
        <h2>Contact us</h2>
          <ul>+91 9604430489</ul>
          <ul>info@linkcode.in</ul>
      </div>



  <div class="feature">
    <h2>Address</h2>
    <p>Barve Memorial Complex, Office No 12 ,Third floor, Jangali Maharaj Rd, opposite Panchali Hotel, Shivajinagar, Pune, Maharashtra 411005</p>
  </div>
  
-->
    </section>
  </div>
  <script src="aboutus.component.ts"></script>
</body>
</html>
