<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="aboutus" href="aboutus.component.css">

  <title>About us</title> 
</head>
<body>
  <div class="container">
    <header>
      <h1>Welcome to Linkcode</h1>
      <p>Technology private limited</p>
    </header>

    <section class="features">
      <div class="feature">
        <img src="icon1.png" alt="Feature 1">
        <h2>Courses</h2>
        <p>
          <li>C</li>
          <li>C++</li>
          <li>Java</li>
          <li>Python</li>
        </p>
      </div>

      <div class="Contact">
        <img src="icon2.png" alt="Feature 2">
        <h2>Contact Us</h2>
        <p> +91 9604430489 <br>info@linkcode.in</p>
      </div>

      <div class="feature">
        <img src="icon3.png" alt="Feature 3">
        <h2>Address</h2>
        <p>Barve Memorial Complex, Office No 12 ,Third floor, Jangali Maharaj Rd, opposite Panchali Hotel, Shivajinagar, Pune, Maharashtra 411005</p>
      </div>

    </section>
  </div>
  <script src="aboutus.component.ts"></script>
</body>
</html>
