<!-- <app-navbar></app-navbar>
<p>landing-page works!</p>
<app-footer></app-footer>
<router-outlet></router-outlet> -->
<!-- <app-navbar></app-navbar> -->
<!-- <p>landing-page works!</p> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-footer></app-footer> -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>RN</title>
  <link rel="stylesheet" href="landing-page.component.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body>

  <nav>
    
    <label class="logo">Linkcode</label>
    
    <ul>   

      <div class="floatleft">
        <li><a routerLink="contact">Contact</a></li>
        <li><a routerLink="aboutus">About us</a></li>
      </div>

      <div class="floatright">
        <li><a routerLink="register">Register</a></li>
        <li><a routerLink="login">Login</a></li>
      </div>

    </ul>

    <div class="togglebtn">
      <i class="fa fa-bars"></i>
    </div>
 

  </nav>

  <!-- <nav>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <a href="/aboutus">About Us</a>
  </nav> -->
  <router-outlet></router-outlet>

</body>
</html>