 <!-- <div class="container border shadow" style="margin-top: 10%; padding-top: 2%; height: 300px; width:35%">
 <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1"  placeholder="Enter email">

  </div>
  <div class="form-group" style="padding-top: 2%;">
    <label for="exampleInputPassword1">Password</label>
    
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group form-check" style="padding-top: 2%;">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
  <button type="submit" class="btn btn-primary" style="margin-top: 2%;">Submit</button>

</form>

</div>

<li><a (click)="aboutUs('aboutus')">About us</a></li>    
<button (click)="aboutUs('aboutus')">About us</button>

<li><a (click)="aboutUs('aboutus')">About us</a></li>
-->

<app-navbar></app-navbar>
  <h2>User Auth</h2>
  <ul>
    <li><a routerLink="auth/register">Register</a></li>
    <li><a routerLink="auth/login">Login</a></li>
  </ul>
 

<router-outlet></router-outlet>
<app-footer></app-footer>
<!--
<app-aboutus></app-aboutus>
-->