
.container {
  max-width: 500px; /* Adjust the maximum width as needed */
  margin-top: 2rem;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #f9f9f9;
  border-radius: 5px;
}

h1 {
  text-align: center;
}


label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type="submit"] {
  background-color: #007bff; /* Adjust the button color as needed */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="back"] {
  background-color: #007bff; /* Adjust the button color as needed */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}
/* Added responsive styles */
@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }

  input[type="text"],
  input[type="number"],
  textarea {
    font-size: 16px;
  }
}
.error-text {
  color: red;
}
