@import  "node_modules/bootstrap/dist/css/bootstrap.min.css";
.wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

@import "~bootstrap/dist/css/bootstrap.css"